{% include 'overall_header.html' %}
<div class="wrapper">
    <h2>{{ SECRETX_WELCOME_MESSAGE }}</h2>
    <div class="column1">

        {% if SECRETX_ADDRESS_PREVIEW %}
            <h2>{{ lang('SECRETX_ADDRESS') }}</h2>
            <p width="50%" height="20%">
                {{ SECRETX_ADDRESS_PREVIEW }}
            </p>
        {% endif %}
        {% if IS_SECRETX === false %}
            <p width="50%" height="20%">
                {{ lang('YOU_ARE_NOT_A_SECRET_SANTA_YET') }}
            </p>
        {% endif %}
    </div>
</div>
<div class="wrapper">
    <h2>{{ lang('SECRETX_RECEPIENT') }}</h2>
    <div class="column2">
        {% if SECRETX_SENDS_TO %}
            <p width="50%" height="20%">
                {{ SECRETX_SENDS_TO }}
            </p>
        {% else %}
            <p width="50%" height="20%">
                {{ lang('SECRETX_NOT_PAIRED_YET') }}
            </p>
        {% endif %}
    </div>
</div>
<hr>
<div class="wrapper" width="80%" style="text-align: center;">
    <form id="secretx_data" method="post" action="{U_ACTION}">
            <fieldset>
                <legend>{{ lang('SECRETX_INFORMATION') }}</legend>
                <dl>
                        <dt><label for="secretx_address_info">{{ lang('SECRETX_ADDRESS_INFO') ~ lang('COLON') }}</label><br/><span>{{lang('SECRETX_ADDRESS_INFO_EXPLAIN')}}</span></dt>
                        <dd><textarea id="secretx_address_info" name="secretx_address_info" style="width: 80%; height: 135px;"></textarea></dd>
                </dl>
                    <p class="submit-buttons">
                        <input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
                        <input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
                    </p>
                {S_FORM_TOKEN}
            </fieldset>
    </form>
    <form id="secretx_validations" method="post" action="{U_ACTION}">
        <hr>
            {% if SECRETX_ADDRESS_PREVIEW %}
            <p>{{ lang('SECRETX_PARTICIPATION_CHECK')}} <input type="submit" class="button1" name="secretx_part_validation" id="secretx_part_validation" value="{{ lang('SECRETX_PARTICIPATION_VALIDATION') }}" {% if PARTICIPATING %} disabled {% endif %}></p>
            {% endif %}
            {% if SECRETX_PARTICIPATING %}
            <p>{{ lang('SECRETX_SENT_GIFT')}} <input type="submit" class="button1" name="secretx_gift_validation" id="secretx_gift_validation" value="{{ lang('SECRETX_GIFT_VALIDATION') }}"></p>
            {% endif %}
            {S_FORM_TOKEN}
    </form>
</div>
<hr>
{% if ORGANIZER %}
    <div class="wrapper" width="80%">
        <form id="secretx_organizer" method="post" action="{U_ACTION}">
            <fieldset>
                <h2>{{ lang('SECRETSANT_MANAGMENT') }}</h2>
                <dl>
                    <dt>{{ lang('PARTICIPATING_USERS') }}{{ lang('COLON') }} <stron>{{ SECRETX_PARICIPATING_AMOUNT }}</stron></dt><dd><input type="submit" class="button1" name="secretx_reset" id="secretx_reset" value="{{ lang('RESET') }}" {% if SECRETX_PARICIPATING_AMOUNT == 0%} disabled {% endif %}></dd>
                    <dt>{PARTICIPANTS_PAIRED}</dt><dd><input type="submit" class="button2" name="secretx_reset_pair" id="secretx_reset_pair" value="{{ lang('RESET') }}" {% if not PARTICIPANTS_RESET_PAIRED_BOOL %} disabled {% endif %}></dd>
                    <dt>{{ lang('PARTICIPANTS_PAIR') }}</dt><dd><input type="submit" class="button2" name="secretx_pair" id="secretx_pair" value="{{ lang('PAIR_PARTICIPANTS') }}" {% if PARTICIPANTS_PAIR_ACTION_BOOL %} disabled {% endif %}></dd>
                    {S_FORM_TOKEN}
                </dl>
            </fieldset>
        </form>
    </div>
{% endif %}
{% include 'overall_footer.html' %}
