{% include 'overall_header.html' %}
<div class="wrapper">
    <h2>{{ SECRETSANTA_MESSAGE }}</h2>
    <div class="column1">

        {% if SECRETSANTA_ADDRESS_PREVIEW %}
            <h2>{{ lang('SECRETSANTA_ADDRESS') }}</h2>
            <p width="50%" height="20%">
                {{ SECRETSANTA_ADDRESS_PREVIEW }}
            </p>
        {% endif %}
        {% if IS_SECRETSANTA === false %}
            <p width="50%" height="20%">
                {{ lang('YOU_ARE_NOT_A_SECRET_SANTA_YET') }}
            </p>
        {% endif %}
    </div>
</div>
<div class="wrapper">
    <h2>{{ lang('SECRETSANTA_RECEPIENT') }}</h2>
    <div class="column2">
        {% if SECRETSANTA_SENDS_TO %}
            <p width="50%" height="20%">
                {{ SECRETSANTA_SENDS_TO }}
            </p>
        {% else %}
            <p width="50%" height="20%">
                {{ lang('SECRETSANTA_NOT_PAIRED_YET') }}
            </p>
        {% endif %}
    </div>
</div>
<hr>
<div class="wrapper" width="80%" style="text-align: center;">
    <form id="andreask_ium" method="post" action="{U_ACTION}">
        <fieldset>
            <fieldset>
                <legend>{{ lang('SECRETSANTA_INFORMATION') }}</legend>
                <dl>
                        <dt><label for="secretsanta_address_info">{{ lang('SECRETSANTA_ADDRESS_INFO') ~ lang('COLON') }}</label><br/><span>{{lang('SECRETSANTA_ADDRESS_INFO_EXPLAIN')}}</span></dt>
                        <dd><textarea id="secretsanta_address_info" name="secretsanta_address_info" style="width: 80%; height: 135px;"></textarea></dd>
                </dl>
                    <p class="submit-buttons">
                        <input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" autofocus />&nbsp;
                        <input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" autofocus />
                    </p>
                {S_FORM_TOKEN}
            </fieldset>
        </fieldset>
    </form>
    <form id="secretsanta_validations" method="post" action="{U_ACTION}">
        <hr>
            {% if SECRETSANTA_ADDRESS_PREVIEW %}
            <p>{{ lang('SECRETSANTA_PARTICIPATION_CHECK')}} <input type="submit" class="button1" name="secretsanta_part_validation" id="secretsanta_part_validation" value="{{ lang('SECRETSANTA_PARTICIPATION_VALIDATION') }}" {% if PARTICIPATING %} disabled {% endif %}></p>
            {% endif %}
            {% if SECRETSANTA_PARTICIPATING %}
            <p>{{ lang('SECRETSANTA_SENT_GIFT')}} <input type="submit" class="button1" name="secretsanta_gift_validation" id="secretsanta_gift_validation" value="{{ lang('SECRETSANTA_GIFT_VALIDATION') }}"></p>
            {% endif %}
            {S_FORM_TOKEN}
    </form>
</div>
<hr>
{% if ORGANIZER %}

    <div class="wrapper">
        <form id="secretsanta_organizer" method="post" action="{U_ACTION}">
        <fieldset>
            <h2>{{ lang('SECRETSANT_MANAGMENT') }}</h2>
            <dl>
                <dt>{{ lang('PARTICIPATING_USERS') }}{{ lang('COLON') }} <stron>{{ SECRETSANTA_PARICIPATING_AMOUNT }}</stron></dt><dd><input type="submit" class="button1" name="secretsanta_reset" id="secretsanta_reset" value="{{ lang('RESET') }}" {% if SECRETSANTA_PARICIPATING_AMOUNT == 0%} disabled {% endif %}></dd>
                <dt>{PARTICIPANTS_PAIRED}</dt><dd><input type="submit" class="button2" name="secretsanta_reset_pair" id="secretsanta_reset_pair" value="{{ lang('RESET') }}" {% if not PARTICIPANTS_PAIRED_BOOL %} disabled {% endif %}></dd>
                <dt>{{ lang('PARTICIPANTS_PAIR') }}</dt><dd><input type="submit" class="button2" name="secretsanta_pair" id="secretsanta_pair" value="{{ lang('PAIR_PARTICIPANTS') }}" {% if not PARTICIPANTS_PAIRED_BOOL %} disabled {% endif %}></dd>
                {S_FORM_TOKEN}
            </dl>
        {# </fieldset>
        {% if SECRETSANTA_PAIR_REVIEW %}
        <fieldset>
            <h2>{{ lang('SECRETSANTA_PAIR_CONFIRM') }}</h2>
            <dl class="row">
                {% for PAIR in SECRETSANTA_GENERATED_PAIRS %}
                <dd>{{ lang('THIS_SECRETSANTA') }} <b>{{ PAIR.user_id }}</b>, {{ lang('SENDS_TO') }} <b>{{ PAIR.secretsanta_sends_to }}</b></dd>

                {% endfor %}
            </dl>
            {% endif %}
        </fieldset> #}
    </form>
    </div>

{% endif %}
{% include 'overall_footer.html' %}
